@import url(/src/styles/mixins.css);

.cards {
	button {
		@mixin typography 0.875rem, 700, 1.2575, inherit;
		text-align: center;
		text-decoration-line: underline;
		width: min(150px, 100%);
		border: none;
		justify-self: center;
		background-color: inherit;
		padding: .3em;
		border-radius: 3px;
		&:active,
		&:hover {
			background-color: var(--font-color);
			color: white;
		}
		&[disabled] {
			background-color: gray;
			cursor: not-allowed;
		}
	}
}
/* currently only used with .cards */
.grid-autofit {
	display: grid;
	grid-template-columns: [content-start] repeat(
			auto-fit,
			minmax(min(var(--column-size), 100%), 1fr)
		) [content-end];
	gap: 2.5em 1.625em;
	grid-auto-rows: auto;
	grid-auto-flow: dense;
	/* not currently needed */
	/* container: grid-container / inline-size; */
}
/* 380px === column size this will need updating if there is a change to column size */
/* --gap: 1.25em */
/* 2 * 1em is for the 1em of padding on the grid autofit */
/* effectively all of this is styling for tablets.... */
/* not really needed mostly just for practise */
/* @container grid-container (
	inline-size <= calc((310px * 2) + 1.25em + (2 * 1em))
) and (inline-size > 380px) {
	.post {
		/* Styles for when there's only one column */
/* background-color: red;
	}
} */

/* New container query for 3 columns */
/* also not really needed */
/* @container grid-container (
	inline-size >= calc((310px * 3) + (2 * 1.25em) + (2 * 1em))
) {
	.grid-autofit {
		--column-size: 500px;
	}
} */
