@import "mixins.css";
@import "custom-media-queries.css";

a:has(> .featured-post) {
	/* feature post link */
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease-in-out;
}

/* typography */
.featured-post {
	color: var(--font-color, #fff);
	h2,
	h1 {
		/* font-size, font-weight, line-height, color */
		@mixin typography 2rem, 700, 1.75, var(--font-color); /* line-height converted to unitless value */
		letter-spacing: -0.03em;
	}
	p {
		line-height: 1.25; /* converted to unitless value */
		max-width: var(--character-max-width);
	}
	/* if first p */
	p:first-of-type {
		/* space toggle for featured post */
		text-transform: var(--uppercase, uppercase);
	}
}

/* seperated background image to own class */
/* solved a lot of issues, class below is where it used to be  */
/* Base class for featured background image */
.featured-background-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 80%;
	height: var(--background-img-height, 232px);
	width: var(--background-img-width, 100%);
}

/* Modifier class for background image with gradient */
.featured-background-img--with-gradient {
	background-image: var(--background-img-gradient), var(--background-img);
	background-blend-mode: multiply;
}

/* Modifier class for background image without gradient */
.featured-background-img--without-gradient {
	background-image: var(--background-img);
}

/* layout */
.featured-post {
	container: featured / inline-size;
	/* grid to show featured post date, h2, body */
	display: grid;
	grid-template-columns: [full-width-start] 0px [content-start] 1fr [content-end] 0px [full-width-end];
	/* the 1fr is the space above the text */
	grid-template-rows: 1fr auto auto auto;
	align-items: end;
	gap: .75rem var(--gap);
	/* uses the selector .featured-post and selects all immediate descendents */
	& > * {
		grid-column: content;
	}
}
/* make the line height smaller as otherwise when the h2 wraps to the next line enormous gap between the wrapped text */
@container featured (width < 70ch) {
	.featured-post h2,
	.featured-post h1 {
		line-height: 1.15;
	}
}
@media (--medium-width) {
	.main-grid {
		--background-img-height: 320px;
	}
}
/* @container featured (width > 70ch) {
	.featured-post h1 {
		line-height: 1.15;
		
		grid-column: conten;
		align-self: center;
		translate: -60px;
	}
} */
