@import url(/src//styles/mixins.css);

@custom-media --medium-width (width > calc(2 * 310px + (2 * 1.25em) + 1em));
/* main layout */
.main-grid {
	display: grid;
	column-gap: var(--gap);
	/* effectively the 0px column are equivalent to . in grid-areas */
	grid-template-columns: [full-width-start] 0px [content-start] auto [content-end] 0px [full-width-end];
}
@media (--medium-width) {
	.main-grid {
		--gap: 2em;
	}
}

.main-grid,
.subgrid {
	/* applies full-width --if-- is an immediate child of one of the grid containers */
	& > .full {
		grid-column: full-width;
	}
	& > .content {
		grid-column: content;
	}
}

.grid-autofit {
	& > .content {
		grid-column: content;
	}
}

.subgrid {
	display: grid;
	grid-template-columns: subgrid;
}

.flex-container-nav {
	@mixin space-between;
}
