@import url(/src//styles/mixins.css);
@import url(/src/styles/custom-media-queries.css);
/* main layout */
.main-grid {
	display: grid;
	column-gap: var(--gap);
	/* effectively the 0px column are equivalent to . in grid-areas */
	grid-template-columns:
		[full-width-start] 0px
		[content-start] 0px
		[content-smaller-start] auto
		[content-smaller-end] 0px
		[content-end] 0px
		[full-width-end];
}

.main-grid,
.subgrid {
	/* applies full-width --if-- is an immediate child of one of the grid containers */
	& > .full {
		grid-column: full-width;
	}
	& > .content-small {
		grid-column: content-smaller;
	}
}



/* makes sure no one tries to apply full to .grid-autofit... */
.grid-autofit,
.main-grid,
.subgrid {
	& > .content {
		grid-column: content;
	}
}

.subgrid {
	display: grid;
	grid-template-columns: subgrid;
}

.flex-container-nav {
	@mixin space-between;
}
@media (--medium-width) {
	.main-grid {
		--gap: 2em;
	}
}
