@import "mixins.css";
@import "custom-media-queries.css";
/* class should probably be the other way around.... */
.post--card {
	/* typography */
	h2 {
		@mixin typography 1.5rem, 700, 1, inherit;
	}
	p {
		@mixin typography-inherit-weight 1rem, 1.25, inherit;
	}
	/* layout */
	grid-column: span 1;

	img {
		@mixin size var(--post-img-height, 232px), 100%;
		object-position: center;
	}
	/* adds variable spacing  */
	img,
	p:first-of-type {
		margin-bottom: 0.875em;
	}
	h2 {
		margin-bottom: 0.5em;
	}
}
/* uses custom media query */

@media (--medium-width) {
	.main-grid {
		--post-img-height: 250px;
	}
}
