@import "./custom-media-queries.css";

.invert {
	filter: invert(1);
}

.my-large {
	margin: var(--cards-my-large) 0; /* 34px converted to em (34px / 16px = 2.125em) */
}

.mb-large {
	margin-bottom: var(--cards-my-large);
}

.circle {
	border-radius: 50%;
}

.p-margin-medium {
	p ~ p {
		margin-top: 1em;
	}
}

/* Example conversion for 54px:
   54px / 16px = 3.375em
*/
.border-radius-small {
	border-radius: 3px; /* Adjust this value as needed */
}
/* used to widen the columns */
/* interesting utility class */
@media (--aboutme-mobile) {
	.widen {
		grid-column: full-width;
	}
	.wider {
		grid-column: content;
	}
}

.paragraph-spacing {
	p {
		margin-bottom: 1em;
	}
}
