@import url(/src/styles/reset.css) layer(reset);
@import url(/src/styles/header.css) layer(component.header);
@import url(/src/styles/post.css) layer(component.post);
@import url(/src/styles/cards.css) layer(component.cards);
@import url(/src/styles/featured-post.css) layer(component.featured-post);
@import url(/src/styles/layout.css) layer(layout);
@import url(/src/styles/footer.css) layer(component.footer);
@import url(/src/styles/utilities.css) layer(utilities);
@import url(/src/styles/aboutme.css) layer(component.aboutme);
@layer reset, base, layout, component, utilities;
@layer base {
	:root {
		--gap: 1.25em;
		--header-height: 3.75rem;
		--column-size: 310px;
		/* used more as const would be more useful if otherbackground images were used */
		--background-img: url(/src/images/laptop.png);
		/* space toggle for false */
		--OFF: ;
		/* space toggle for true */
		--ON: initial;
		/* should be increased at wider screens... */
		--post-img-height: 232px;
		--background-img-height: var(--post-img-height);
		--background-img-width: 100%;
		/* used more as a const currently */
		--background-img-gradient: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.7)
		);
		--cards-my-large: 2.25em 0;
		--uppercase: uppercase;
		--character-max-width: 60ch;
		--font-color: #151515;
	}
	body {
		font-family: "Source Sans 3", serif;
		font-weight: 400;
		color: var(--font-color);
		font-size: 1rem;
		max-width: 1085px;
		margin-inline: auto;
	}
}
